[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "multigraphr"]
	path = multigraphr
	url = https://github.com/termehs/multigraphr
[submodule "netropy"]
	path = netropy
	url = https://github.com/termehs/netropy
